@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

.app {

    font-family: 'Raleway', sans-serif;

    .link {
        color: inherit;
        text-decoration: none; 
    }
}